@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #14274e;
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

img {
  max-width: 100px;
  height: 100%;
  width: 100%;
  max-height: 100px;
}

.p-16 {
  padding: 16px;
}

.m {
  &--16 {
    margin: 16px;
  }
}

.my {
  &--16 {
    margin: 16px 0;
  }
}

.btn {
  color: #14274e;
  padding: 0.5rem;
  &:hover {
    color: #394867;
  }

  &--primary {
    border: 1px solid #14274e;
  }
}
